<!DOCTYPE html>
<html lang="en" class="h-100">

<%- include('../partials/head.ejs') %>

<body class="d-flex flex-column h-100">
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid flex-shrink-0">
        <main>
            <%- body %>
        </main>
    </div>

    <%- include('../partials/chart-footer.ejs') %>

</body>

</html>